DESERVE.Manager/Service References/Marshall/DESERVE2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DESERVE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DESERVE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommandLineArgs">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutosaveMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="Debug" type="xs:boolean" />
      <xs:element minOccurs="0" name="FullString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Instance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LogDirectory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ModAPI" type="xs:boolean" />
      <xs:element minOccurs="0" name="Plugins" type="xs:boolean" />
      <xs:element minOccurs="0" name="Update" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdateNewPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdateOldPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WCF" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommandLineArgs" nillable="true" type="tns:CommandLineArgs" />
</xs:schema>