DESERVE.Manager/Service References/ServerManager/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8005/SEEDS/ServerManager/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SEEDS" />
  <xs:element name="GetServerInstances">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerInstancesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SEEDS" minOccurs="0" name="GetServerInstancesResult" nillable="true" type="q1:ArrayOfServerInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveFile" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SEEDS" minOccurs="0" name="server" nillable="true" type="q2:ServerInstance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopServerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopAllServers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopAllServersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>