DESERVE.Manager/Service References/ServerMarshalClient/ServerMarshall.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServerMarshall" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetNamedPipeBinding_IServerMarshall_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8001/uesamples?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8001/uesamples?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8001/uesamples?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DESERVE" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerMarshall_Start_InputMessage">
    <wsdl:part name="parameters" element="tns:Start" />
  </wsdl:message>
  <wsdl:message name="IServerMarshall_Start_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMarshall_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="IServerMarshall_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:message name="IServerMarshall_Save_InputMessage">
    <wsdl:part name="parameters" element="tns:Save" />
  </wsdl:message>
  <wsdl:message name="IServerMarshall_Save_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveResponse" />
  </wsdl:message>
  <wsdl:portType name="IServerMarshall">
    <wsdl:operation name="Start">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMarshall/Start" message="tns:IServerMarshall_Start_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMarshall/StartResponse" message="tns:IServerMarshall_Start_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMarshall/Stop" message="tns:IServerMarshall_Stop_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMarshall/StopResponse" message="tns:IServerMarshall_Stop_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Save">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerMarshall/Save" message="tns:IServerMarshall_Save_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerMarshall/SaveResponse" message="tns:IServerMarshall_Save_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetNamedPipeBinding_IServerMarshall" type="tns:IServerMarshall">
    <wsp:PolicyReference URI="#NetNamedPipeBinding_IServerMarshall_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/named-pipe" />
    <wsdl:operation name="Start">
      <soap12:operation soapAction="http://tempuri.org/IServerMarshall/Start" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap12:operation soapAction="http://tempuri.org/IServerMarshall/Stop" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Save">
      <soap12:operation soapAction="http://tempuri.org/IServerMarshall/Save" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServerMarshall">
    <wsdl:port name="NetNamedPipeBinding_IServerMarshall" binding="tns:NetNamedPipeBinding_IServerMarshall">
      <soap12:address location="net.pipe://localhost/DESERVE/Marshall" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.pipe://localhost/DESERVE/Marshall</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>